<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>
 

  

<ion-content>
    <button ion-button (click)="sayHello()">Click to say Hello</button>
  <div class="intro-wrapper">
    <p>Appuyez sur 'Start !' puis parlez à votre appareil de manière clair et reposé</p>
    <ion-button ion-button (click)="startListening()" color="success">Start</ion-button>
    <ion-button ion-button (click)="stopListening()" color="danger">Stop</ion-button>
  </div>
  <ion-list class="matches-wrapper">
    <ion-item *ngIf="matches.length <= 0">
      Aucun résultat :S
    </ion-item>
    <ion-item *ngFor="let match of matches">
      {{ match }}
    </ion-item>
  </ion-list>
</ion-content>

<p id="p1">Hello World!</p>
