<ion-header>
  <ion-toolbar>
    <ion-title>
      <img height="20" width="20" src="../assets/logo.jpg"> Gerer vos activités
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <br />
  <ion-button class="ion-padding-horizontal" id="loadEvent" ion-button (click)="loadEvent()" expand="block">Charger vos
    activités</ion-button>
  <div id="listEvent" *ngIf="hideList">
    <ion-list>
      <ion-item>
        <ion-label>Activités</ion-label>
        <ion-select [(ngModel)]='value' (ionChange)='showselected(value)' id='actlist'>
        </ion-select>
      </ion-item>
    </ion-list>

  </div>
  <div id="infosEvent">
  </div>
  <div *ngIf="hideDel">
    <ion-button id='delEvent' ion-button (click)='delEvent()' color='danger'>Supprimer cette activité</ion-button>
  </div>


</ion-content>